.boxe-class {
	-fx-pref-width : 27px;
	-fx-pref-height : 27px;
	-fx-text-fill : white;
	-fx-border-color : WHITE;
	-fx-border-width : 1px;
}


#zero-chance {
    -fx-background-color : #FE0101;
}

#multi-chance{
   -fx-background-color : #01B932;
}

#proposition{
	-fx-background-color : #FDA901;
}

#on-action{
    -fx-background-color : #FFFFFF;
}